@{
    ViewData["Title"] = "Home Page";
}
<p>
    Игрок играет до тех пор пока не проиграет или не выиграет, админ создает кол - во слов , которые рандомно получает игрок , есть два варианта : 
    По буквам или угадать слово сразу.

</p>